body{
    font-family:'Open Sans',sans-serif;
  }

main{
width: 1280px;
margin: auto;
}

.container{
  width: 90%;
}

  header {
    margin-top: 5rem;
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

 .work{

width: 1280px;
align-content: center;
 }

 ul li{
  display: inline-block;
}
.bg-color{
  background-color:#E83E8C;
}
footer {
  text-align: center;
  }


